[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "Dependencies/glew-cmake"]
	path = Dependencies/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "Dependencies/glbinding"]
	path = Dependencies/glbinding
	url = https://github.com/cginternals/glbinding
