[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "glew-cmake"]
	path = deps/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
